{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2021",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@tmdigital/shared": ["../../packages/shared/src/index.ts"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "minify": false
}
