<div class="line-height-3 text-sm" style="color: #212529">
  <div class="mb-1">
    <span class="font-bold" style="color: #495057">Fazenda:</span>
    <span class="ml-1 font-semibold">{{ propertyName }}</span>
  </div>
  <div class="mb-1">
    <span class="font-bold" style="color: #495057">Cultura:</span>
    <span class="ml-1 font-semibold">{{ culture }}</span>
  </div>
  <div>
    <span class="font-bold" style="color: #495057">Status Lead:</span>
    <span class="ml-1">{{ leadStatus }}</span>
  </div>
</div>
