<div class="popup-content flex flex-column gap-2 p-1">
  <div
    class="flex align-items-center justify-content-between border-bottom-1 surface-border pb-2"
  >
    <span class="text-600 text-sm">{{ I18N.LEAD.MAP.POPUP.NAME }}</span>
    <span class="text-900 font-bold ml-3">{{ propertyName }}</span>
  </div>
  <div class="flex align-items-center justify-content-between">
    <span class="text-600 text-sm">{{ I18N.LEAD.MAP.POPUP.CULTURE }}</span>
    <span class="text-900 font-medium ml-3">{{ culture }}</span>
  </div>
  <div class="flex align-items-center justify-content-between">
    <span class="text-600 text-sm">{{ I18N.LEAD.MAP.POPUP.STATUS }}</span>
    <p-tag
      [value]="translatedStatus"
      [severity]="getSeverity(leadStatus)"
    ></p-tag>
  </div>
  <div class="flex justify-content-end mt-2 pt-2 border-top-1 surface-border">
    <button
      class="p-button p-component p-button-text p-button-sm p-0"
      (click)="openDetails.emit()"
    >
      <span class="p-button-label text-sm">{{
        I18N.LEAD.MAP.POPUP.DETAILS
      }}</span>
    </button>
  </div>
</div>
