/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
